    .hero {
        background-color: var(--color-black);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 270px;
        gap: 30px;
        justify-content: baseline;
        /* border: 1px solid red; */
    }