:root {
    --color-primary: #34c94b;
    --color-white: #ffffff;
    --color-black: #121212;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}